/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex; /* Set to flex container */
	flex-basis: 100%; /* Occupies 100% of the width */
	justify-content: space-between; /* Even space between items */
}

#nav_menu ul li {
	flex-basis: 20%; /* Use flex-basis instead of width */
	/* Removed width property */
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}

#nav_menu a.current {
	color: yellow;
}

#nav_menu ul ul {
	width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li {
	float: none; /* This is fine, since we're using flex */
}

#nav_menu ul li:hover > ul {
	display: block;
}

#nav_menu > ul::after {
    content: "";
    clear: both; /* This can be removed as we're not using floats */
}
